<div class="container">
    <div class="row">
        <main class="col-md-12">
            <!-- Start your code here -->                    
            <header class="mt-4">
                <h1>About</h1>
                <p>Let me give you a brief introduction about myself.</p>
            </header>
            <section>
                <h2>radcapili@myseneca.ca</h2>
                <p>I am a full time student at Seneca Polytechnic College, currently studying Business Information Technology. As a part of my study course, I am preparing this website for my WEB700 class. My student ID is radcapili, my student number is 152344222, and this is my second semester at Seneca.</p>
            </section>
            <!-- End your code here  -->
        </main>
    </div>
</div>