<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Box Model</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        Enter Name<input type="text" name="name" id="name" placeholder="Enter your name">
        <br>
        Enter Email<input type="email" name="email" id="email" placeholder="Enter your email">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>