<div class="container">
    <div class="row">
        <main class="col-md-12">


            <!-- Start your code here -->
                    
            <header class="mt-4">
                <h1>Welcome to the my WEB700 website! </h1>
                <p>Come and join me go through the world of web programming!</p>
            </header>
                    
            <section>
                <h2>Site Navigation</h2>
                <p>Here are the links to the different sections and functions of this website: 
                <a href="/">This page - the Home Page</a>.
                <a href="/about">About this website and me</a>.
                <a href="/htmlDemo">A demo page for HTML</a>. 
                <a href="/students">Shows all students</a>. 
                <a href="/students?course=7">Shows students by course - replace the course ID</a>.
                <a href="/student/2">Display a single student, replace the StudentID</a>. 
                <a href="/tas">Teaching assistants</a>. 
                <a href="/courses">All courses</a>.
                </p>
            </section>
                    
            <section>
                <h2>Whoa, HTML5?!</h2>
                <p>HTML5 isn't just your ordinary markup language; it's the superhero of the web world, swooping in to revolutionize the way we experience the internet. With its sleek and dynamic features, HTML5 brings a whole new level of interactivity and multimedia to websites, empowering developers to create stunning and immersive online experiences.</p>
            </section>
                    
            <!-- End your code here  -->



        </main>
    </div>
</div>