		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
                    <!--TABLES-->
					<h2>Tables</h2>
					<table class="table">
                        <caption>Music List</caption>
                        <thead>
                            <tr>
                                <th scope="col">Song Title</th>
                                <th scope="col">Artist</th>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Stone The Crow</td>
                                <td>Down</td>
                                <td>1995</td>
                            </tr>
                            <tr>
                                <td>Privilege</td>
                                <td>Incubus</td>
                                <td>1999</td>
                            </tr>
                            <tr>
                                <td>Spectres De Mouse</td>
                                <td>Mouse On The Keys</td>
                                <td>2009</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">Total Songs</td>
                                <td>3</td>
                            </tr>
                        </tfoot>
                    </table>
                    
                    <p>This is a table of some of my favorite songs.</p>
                </section>
                <!--LISTS-->
                <section>
                    <h2>Places To See</h2>
                    <ol>
                        <li>JAPAN
                            <ul>
                                <li>Try out authentic ramen</li>
                                <li>See mount Fuji</li>
                                <li>Take a picture at Shibuya Crossing</li>
                            </ul>
                        </li>
                        <li>Korea
                            <ul>
                                <li>Try korean street food</li>
                                <li>Try authentic Soju</li>
                                <li>Try authentic Korean Fried Chicken</li>
                            </ul>
                        </li>
                        <li>France
                            <ul>
                                <li>Get to the top of Eiffel Tower</li>
                                <li>Try their best cheese</li>
                                <li>Visit the Louvre</li>
                            </ul>
                        </li>
                    </ol>
                    <p>Here's a list of places that I wish to visit in the future, and some things I want to do in them.</p>
                </section>

                <!-- IMAGES-->
                <section>
                    <h2>Images</h2>
                    <img src="https://scontent.fykz1-2.fna.fbcdn.net/v/t1.18169-9/31453678_1943791449034371_1158336814710065612_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=7a1959&_nc_ohc=sJq9a6SFp8YAX9cbqnE&_nc_ht=scontent.fykz1-2.fna&oh=00_AfDh37PhaS1j43lpBsgBWboMjd7xZT3NOWOelgXc2O88Gw&oe=65F8E6B6" alt="Me playing drums" />
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/New_York_City_%28New_York%2C_USA%29%2C_Empire_State_Building_--_2012_--_6448.jpg/1200px-New_York_City_%28New_York%2C_USA%29%2C_Empire_State_Building_--_2012_--_6448.jpg" alt="A city" />
                    <img src="https://th-thumbnailer.cdn-si-edu.com/m8MuEnXtYN25Z8ToUGG984DMqvE=/fit-in/1600x0/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/d5/51/d55123f8-7a20-4906-9578-6513cd606a04/193_t_1920s_construction_of_interceptor_sewers_new_jersey.jpg" alt="A sewer" />
                    <p>Here are sample images.</p>
                </section>

                <!-- Audio Section -->
                <section>
                    <h2>Audio</h2>
                    <audio controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
                        Your browser does not support the audio tag.
                    </audio>
                    <p>Sample Audio Tracks.</p>
                </section>


                <!-- Video Section -->
                <section>
                    <h2>Video</h2>
                    <video controls>
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
                        <source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
                        Your browser does not support the video tag.
                    </video>
                    <p>Sample video clips.</p>
                </section>
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>